@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(12, 12, 209);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

section {
    background-color: white;
    width: 340px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
    /*overflow: scroll;*/
}

button[type=submit] {
    cursor: pointer;
}

ol#lista-tarefas {
    padding: 20px;
}

li {
    position: relative;
    margin-bottom: 10px;
}

li button {
    position: absolute;
    right: 0;
    cursor: pointer;
}

li:hover {
    cursor: pointer;;
}

input {
    width: 80%;
}